// This mixin allows you to define a transition property for a single
// property or multiple properties, and for a single duration or multiple
// durations. It also allows you to define a timing function for the
// transition.
@mixin transition($transitions...) {
  $transpiled: ();
  // if no transitions are passed, default to all
  @if length($transitions) == 0 {
    $transitions: all;
  }
  // loop through each transition
  @each $transition in $transitions {
    // transpile each transition and append it to the transpiled list
    $transpiled: append($transpiled, transpileTransition($transition), comma);
  }
  // output the transpiled list as the transition value
  transition: $transpiled;
}

@function transpileTransition($transition) {
  $defaults: (
    duration: 0.4s,
    timing-function: ease,
    delay: null,
  );

  $transition: merge($defaults, $transition);

  @return ($transition);
}
