@mixin tr($default: all 0.4s, $transitions...) {
  $transpiled: ();
  $transitions: append($transitions, $default, comma);
  @each $transition in $transitions {
    $transpiled: append($transpiled, transpileTransition($transition), comma);
  }
  transition: $transpiled;
}

@function transpileTransition($transition) {
  $duration: 0.4s;
  $timing-function: null;
  $delay: null;
  $defaultValues: ($duration $timing-function $delay);
  $transpiledTransition: ();
  @for $i from 1 through 4 {
    $p: null;
    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultValues, $i - 1);
    }
    $transpiledTransition: append($transpiledTransition, $p);
  }
  @return $transpiledTransition;
}
